.container{
    margin-top: 20vw;
    margin-left: 1vw;
}

.details{
    flex-direction: column;
    display: flex;
    margin: 5vw;
}

.form-control{
    width: 95%;
    padding: 2vw 3vw;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid grey;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fbfbfb9c;
    outline: none;
}

.form-control:focus {
    outline: none;
    border: 1px solid #4d90fe;
    box-shadow: 1px .5px 2px #4d90fe;
}
.form-label{
    font-size: 4vw;
    padding-bottom: 5px;
}

.btn1{
    color: white;
    background-color: green;
    border-radius: 5px;
    font-size: 4vw;
    padding: 2vw 7vw;
    position: relative;
    left: 29%;
}