.popup2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000047;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.popup-inner2{
    position: relative;
    padding: 1vw;
    width: 100%;
    height: 120vw;
    max-width: 80vw;
    background-color: white;
    
}

.popup-inner2 .close-btn{
    position: relative;
    top: 3vw;
    left: 108vw;
    transform: scale(2, 1.5);
    color: #d6d3d3;
}

.img {
    position: relative;
    top: 1vw;
    left: 15vw;
    height: 37vw;
}

.description2{
    position: relative;
    display: flex;
    font-size: 3vw;
    padding-top: 5vw;
    padding-left: 7vw;
    right: 1vw;
    width: 85%;
}



.productDescription2{
    position: relative;
    margin: 3vw;
    font-size: 3vw;
    padding: 1vw;
    background-color: #d0eb94;
    color: #869c15;
    border-radius: 8px;
}

.ingredients2{
    position: relative;
    display: flex;
    font-size: 2.5vw;
    padding-top: 1vw;
    padding-left: 4vw;
}

.info-title3{
    display: flex;
    justify-content: center;
    position: relative;
}

.vertical-line3{
    border-left: 1px solid black;
    height: 17vw;
    position: relative;
    padding: 2px;
    left: 2vw;
    display: none;
}